<ul class="nav" id="side-menu">

<li>
    <a href="../"><i class="fa fa-home fa-fw"></i> Home </a>
</li>

<!-- THIS LINKS TO THE MAIN DASHBOARD -->
<li>
    <a href="../dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard </a>
</li>

<!-- THESE LINKS PROVIDE USER NAVIGATION THROUGHOUT THE WORKFLOW -->
<li>
    <a href="#"><i class="fa fa-share fa-fw"></i> Jump to Workflow Stage <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="../specify"><i class="fa fa-pencil-square-o  fa-fw"></i> Specify </a>
        </li>
        <li>
            <a href="../design"><i class="fa fa-cogs" aria-hidden="true"></i> Design </a>
        </li>
        <li>
            <a href="../build"><i class="fa fa-briefcase" aria-hidden="true"></i> Build</a>
        </li>
        <li>
            <a href="../assembly"><i class="fa fa-gavel" aria-hidden="true"></i> Assembly</a>
        </li>
        <li>
            <a href="../controlFull"><i class="fa fa-bars" aria-hidden="true"></i> Control</a>
        </li>
    </ul>
    <!-- /.nav-second-level -->
</li>

<li id="file_tree">


<a href="#"><i class="fa fa-sitemap fa-fw"></i> {{name}} <span class="fa arrow"></span></a>
<ul class="nav nav-second-level">
{{#each children}}
    <li id='{{path}}_pid'>
        <a onclick="pre_pushFileToEditor('{{path}}','{{name}}','{{type}}')"  href="#"> {{name}} <span class="fa arrow"></span></a>
        <ul class="nav nav-third-level">
            {{#each children}}
            <li id='{{path}}_fid'>
                <a onclick="pre_pushFileToEditor('{{path}}','{{name}}','{{type}}')"  href="#"> {{name}} </a>
            </li>
            {{/each}}
        </ul>
    </li>
{{/each}}
</ul>

</li>

<li id="new_proj">
    <a href="#"><i class="fa fa-plus-square-o"></i> New Project</a>
</li>

</ul>
